<div class = "container">
	<br>
	<br>
	
	
	<div class="row">
	  <div class="col-xs-2 col-md-2"></div>
	  <div class="col-xs-8 col-md-8" >
	  	<div class = "jumbotron">
	  	<div class = "row">
	  		<div class="col-xs-1 col-md-1"><b>No.</b></div>
	  		<div class="col-xs-9 col-md-9" style = "padding-left: 0px;"><b>Question Content</b></div>
	  		<div class="col-xs-2 col-md-2"><b>Delete</b></div>
	  	</div>
	  	<br>
	  	<div class = "row" id = "management">

	  	</div>
	  	</div>
	  </div>
	  <div class="col-xs-2 col-md-2"></div>
	</div>
	
</div>